<h1>List of users !</h1>
    {% for user in userList %}
    <fieldset>
        <legend>{{ user.name }}</legend>
        <p>age : {{ user.age }} </p>
        <p>classe: {{ user.classe }}</p>
        <p>nom option: {{ user.option.nom }} </p>
        <p>score option: {{ user.option.score }} </p>
        <span> <a href="/users/delete/{{ user._id }}">supprimer</a></span>
        <a href="/users/update/{{ user._id }}">modifier</a>
    </fieldset>
{% endfor %}
